<!DOCTYPE html>
<html>
<head>
  <link href='//fonts.googleapis.com/css?family=Imprima' rel='stylesheet' type='text/css'>
  <link href="/css/normalize.min.css" rel="stylesheet" type="text/css">
  <link href="/css/default.css" rel="stylesheet" type="text/css">
  <title>The Foods of Southern India</title>
</head>
<body>

<header>The Foods of Southern India</header>

<main>
  <% TopParagraphs.new.read_paragraphs.each do |paragraph| %>
    <p><%= paragraph %></p>
  <% end %>

  <div class="menu">
    <dl>
      <% Menu.new.menu_items.each do |item| %>
        <img src="/images/<%= item.image %>">
        <dt><%= item.name %> - <%= item.price%></dt>
        <dd><%= item.description %> </dd>
      <% end %>
    </dl>
  </div>
</main>

<footer>
  <address>
    123 Main Street
    Boulder, CO 80301
    <a href="mailto:bob@example.com">Contact Us</a>
  </address>
  <%= Date.today.year %>
</footer>

</body>
</html>